@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');

body {
    margin: 0;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.auth_page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
}

.signin_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 50vw;
    height: 50vh;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 2vw;
}

.signin_button {
    width: 25vw;
    height: 10vh;
    outline: none;
    border: none;
    border-radius: 1vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    background-color: dodgerblue;
    color: white;
    font-size: 3.5vh;
    font-family: 'Nunito', sans-serif;
}

.signin_button:hover {
    background-color: rgb(17, 121, 224);
    cursor: pointer;
}

.signup_button {
    width: 25vw;
    height: 10vh;
    outline: none;
    border: none;
    border-radius: 1vw;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);
    background-color: dodgerblue;
    color: white;
    font-size: 3.5vh;
    font-family: 'Nunito', sans-serif;
}

.signup_button:hover {
    background-color: rgb(17, 121, 224);
    cursor: pointer;
}

.app_page {
    height: 100vh;
    width: 100vw;
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

.node {
    width: 5vw;
    height: 5vw;
    border: 0.35vw solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(204, 200, 200);
}

.origin {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.f {
    border-radius: 50%;
}

.no_image {
    color: rgb(65, 62, 62);
    font-size: 3.5vh;
    font-family: 'Nunito', sans-serif;
}

.node_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8vw;
    z-index: 10;
}

.node_name {
    font-family: 'Nunnito', sans-serif;
    text-align: center;
    margin: 0;
    padding: 10px;
}

.vertical_line {
    width: 0.35vw;
    height: 7.5vw;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add_icon {
    width: 2vw;
    height: 2vw;
    background-color: whitesmoke;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    cursor: default;
    color: whitesmoke;
}

.vertical_line:hover {
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}

.vertical_line:hover .add_icon {
    background-color: lime;
    cursor: pointer;
}

.vertical_line:hover .add {
    color: black;
    cursor: pointer;
}